* {
	font-family: Helvetica;
}

header {
	text-align: center;
}

.navbar {
	margin: 0 auto;
	width: 960px;
	text-align: center;
}

button {
	background-color: black;
	color: #FF0066;
	font-family: Helvetica;
	font-weight: bold;
	border: none;
	padding: 5px 5px;
}

.wrap {
	width: 960px;
	height: 960px;
	margin: 10px auto;
	border: 1px solid black;
}

.square {
	float: left;
	background: black;
}
